### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Created by .ignore support plugin (hsz.mobi)

.idea
azuqua.java.iml
target/classes
target/generated-sources
target/generated-test-sources
target/javadoc-bundle-options
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes
.settings
.classpath
.project

