{
  "config": {
    "account": {
      "access_key": "aa92f2f65851b436a4a8686ef5b23540add30f98",
      "access_secret": "948ae97e33fd938f6ae2a77886e85b2e29910b50dbb598755c033b8be7a5d0d3"
    },
    "api": {
      "protocol": "https",
      "host": "alphaapi.azuqua.com",
      "port": 443
    },
    "publisher": {
      "protocol": "https",
      "host": "alphapublisher.azuqua.com",
      "port": 443
    }
  }
}